* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.titulo--calculadora {
    font-size: 20px;
    font-weight: bold;
    text-decoration: double underline;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.titulo--calculadora:hover {
    color: blue;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-group {
    margin: 10px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f9f9f9;
}

input:focus {
    border-color: blue !important;
}

input.valid {
    border-color: green !important;
}

input.invalid {
    border-color: red;
}